@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

    *{
        padding :0%;
        margin :0%;
        box-sizing:border-box;
    }
    
    .root{
        White : hsl(0, 0%, 100%);
        lighting-color : hsl(212, 45%, 89%);
        gray : hsl(216, 15%, 48%);
        dark-blue : hsl(218, 44%, 22%);
    }

    img{ max-width: 100%;
      padding: 1rem;
    }

    body { 
      font-family: "outfit" sans-serif;
      font-size: 15px;
      background-color: lightgray;
      display: flex;
      margin: 1.25rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(100vh -1px);

      }

    .container{
      background-color: white;
      padding: 1.25rem;
      border-radius: 0.625rem;
      box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
      margin-bottom: 2rem;
    }

    .container img {
        border-radius: 0.625rem;
        margin-bottom: 1rem;
    }

    .container h1{
        color: hsl(218, 44%, 22%);
        text-align: center;
        margin-bottom: 1rem;
    }

    .container p{
        color: hsl(216, 15%, 48%);
        text-align: center;
        margin-bottom: 1rem;

    }

    .attribution { 
      font-size: 13px; 
      text-align: center; 
    }

    .attribution a { 
      color: hsl(228, 45%, 44%); 
    }

    @media (min-width:500px) {
        .container{
            width: 400px;
        }
    }